*{
  padding: 0;
  margin: 0;
  font-size: calc(0.8em + 1vw);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Lexend Deca', sans-serif;
  background-color: indigo;
  color: white;
  scroll-snap-type: y mandatory;
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

.header1 {
  font-size: calc(0.8em + 5vw);
}

.header2 {
  font-family: 'Indie Flower', cursive;
  font-size: calc(0.8em + 3vw);
}

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

#section2 .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

#section2 .image-container img {
  width: 15%;
}

#section2 .image-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
}

#section2 .image-container2 img{
  width: 20%;
}

#section2 .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding: 0 5%;
}

#section3 {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  font-size: calc(0.5vw);
  scroll-snap-align: start;
}

#section3 .box {
  width: 50%;
  height: 50%;
  text-align: center;
}

#section3 .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

#section3 .image-container img {
  width: 60%;
}

#section3 .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
}

#section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}

#section4 .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 5%;
  text-align: center;
}

#start-btn {
  font-family: 'Lexend Deca', sans-serif;
  padding: 1% 2.5%;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  scroll-snap-align: start;
}